.project {
    height: 60vh;
    width: 100%;
    position: relative;
}

.project::before {
    content: "";
    background-image: url("https://images.unsplash.com/photo-1548092372-0d1bd40894a3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.4;
}

.heading {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 120%;
}


@media screen and (max-width: 960px) {
    .heading h1 {
        font-size: auto;
    }
    .heading p {
        font-size: auto;
        text-align: center;
    }
}