.pricing {
    width: 100%;
    padding: 6rem 1rem;
    background-color: black;
}

.card-container {
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
}

.card {
    border: 1px solid white;
    color: white;
    text-align: center;
    padding: 1rem;
}

.card:hover {
    background-color: rgb(49, 45, 45);
}

.card h2 {
    padding: 1rem;
    font-size: 120%;
}

.card p{
    padding: 1rem;
}

.bar {
    display: block;
    border-bottom: 1px solid white;
    width: 50%;
    margin: 1.5rem auto;
}

.aud {
    font-size: 3rem;
    font-weight: 300;
}

.card .btn {
    display: inline-block;
    width: 70%;
    margin: 1rem auto;
}

@media screen and (max-width: 750px) {
    .card-container {
        max-width: 90%;
        margin: auto;
        grid-template-columns: 1fr;
        grid-gap: 40px;
    }
}