.project {
    height: 60vh;
    width: 100%;
    position: relative;
}

.heading {
    height: 100%;
    width: 100%;
    font-size: 150%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}